<!DOCTYPE html>
<html>
<head>
	<link rel="shortcut icon" type="png" href="/images/image ducation logo.png">
	<title>Prepare for GATE on Education</title>
	<link rel="stylesheet" type="text/css" href="/css/subjects.css">
	<script type="text/javascript" src="/js/script.js"></script>
</head>
<body>

<!-- NAVIGATION -->
<header>
	<div class="nav" id="nav">
		<div id="learned-logo">
		<a href="/index"><img src="/images/image Education logo.png" style="width: 120px;"></a></div>
		<div class="switch-tab" id="switch-tab" onclick="switchTAB()"><img src="/images/image menu logo.png"></div>
		<ul id="list-switch">
			<li><a href="/jee"><img src="/images/image book logo.png" class="icon">JEE</a></li>
			<li><a href="/gate"><img src="/images/image GATE logo.png" class="icon">GATE</a></li>
			<li><a href="/computer_courses"><img src="/images/image computer logo.png" class="icon">Computer Courses</a></li>
			<li><a href="/computer_courses#data"><img src="/images/image data structure logo.png" class="icon">Data Structures</a></li>
			<li><a href="/computer_courses#algo"><img src="/images/image algorithm logo.png" class="icon">Algorithm</a></li>
			<li><a href="/history"><img src="/images/image project logo.png" class="icon">Indian History</a></li>
		</ul>
		<div class="search" id="search-switch">
			<input type="search" placeholder="Search" class="srch"><button id="srchbtn"><img src="/images/image search.png"></button>
		</div>
	</div>
</header>


<!-- Main Title of the Page -->
	<div class="title">
		<span>Prepare for GATE Exams on Education</span>
		<div class="shortdesc">
			<p>Learn from Education for better higher studies in<br> Indian Institutes of Technologies(IIT)</p>
		</div>
	</div>


<!-- Some KeyWords related to topic -->
	<div class="course">
		<div class="cbox">
		<div class="det"><a href="#digital">Digital Logic</a></div>
		<div class="det"><a href="https://en.wikipedia.org/wiki/Sequential_logic" target="_blank">Combinational & Sequential Circuits</a></div>
		<div class="det"><a href="https://en.wikipedia.org/wiki/ALU" target="_blank">Computer Arithmetic</a></div>
		<div class="det"><a href="https://en.wikipedia.org/wiki/Boolean_algebra" target="_blank">Boolean Algebra</a></div>
		<div class="det"><a href="/computer_courses#algo">Algorithm</a></div>
		<div class="det"><a href="/computer_courses#data">Data Structures</a></div>
		</div>
		<div class="cbox">
		<div class="det"><a href="#compiler">Compiler Design</a></div>
		<div class="det"><a href="#os">OS</a></div>
		<div class="det"><a href="#coaa">Computer Organization & Architecture</a></div>
		<div class="det"><a href="https://en.wikipedia.org/wiki/IPv4" target="_blank">IPv4 / IPv6</a></div>
		<div class="det"><a href="#cn">Computer Networks</a></div>
		<div class="det"><a href="#database">Databases</a></div>
		<div class="det"><a href="https://en.wikipedia.org/wiki/Theory_of_computation" target="_blank">Theory of Computation</a></div>
		</div>
		<div class="cbox">
		<div class="det"><a href="#math">Discrete Mathematics</a></div>
		<div class="det"><a href="#math">Calculus</a></div>
		<div class="det"><a href="#math">Linear Algebra</a></div>
		<div class="det"><a href="#math">Trigonometry</a></div>
		<div class="det"><a href="#math">Integration</a></div>
		<div class="det"><a href="#math">Matrices</a></div>
		<div class="det"><a href="#math">Probability</a></div>
		<div class="det"><a href="#math">Differentiation</a></div>
		</div>
	</div>


<!-- Courses Available -->
	<div class="inbt">
		Accelerate your career with GATE programs
	</div>

	<div class="ccard">
	<center>
		<div class="ccardbox">
			<div class="dcard">
				<div class="fpart"><img src="/images/image math gate.png"></div>
				<a href="#math"><div class="spart">2 Courses <img src="/images/image dropdown.png"></div></a>
			</div>
			<div class="dcard">
				<div class="fpart"><img src="/images/image digital logic.png"></div>
				<a href="#digital"><div class="spart">5 Courses <img src="/images/image dropdown.png"></div></a>
			</div>
			<div class="dcard">
				<div class="fpart"><img src="/images/image computer organisation.png"></div>
				<a href="#coaa"><div class="spart">3 Courses <img src="/images/image dropdown.png"></div></a>
			</div>
			<div class="dcard">
				<div class="fpart"><img src="/images/image database.png"></div>
				<a href="#database"><div class="spart">3 Courses <img src="/images/image dropdown.png"></div></a>
			</div>
			<div class="dcard">
				<div class="fpart"><img src="/images/image data course.png"></div>
				<a href="/computer_courses#data"><div class="spart">6 Courses <img src="/images/image dropdown.png"></div></a>
			</div>
			<div class="dcard">
				<div class="fpart"><img src="/images/image compiler desgin.png"></div>
				<a href="#compiler"><div class="spart">2 Courses <img src="/images/image dropdown.png"></div></a>
			</div>
			<div class="dcard">
				<div class="fpart"><img src="/images/image operating system.png"></div>
				<a href="#os"><div class="spart">1 Courses <img src="/images/image dropdown.png"></div></a>
			</div>
			<div class="dcard">
				<div class="fpart"><img src="/images/image computer networking.png"></div>
				<a href="#cn"><div class="spart">3 Courses <img src="/images/image dropdown.png"></div></a>
			</div>
		</div>
	</center>
	</div>

<!-- Videos on ENGINEERING MATHEMATICS Lectures -->

	<div class="title2" id="math">
		<span>Engineering Mathematics</span>
		<div class="shortdesc2">
			<p>Practice Mathematics on your tips...</p>
		</div>
	</div>
	
	<center>
		<div class="ccardbox2">
			<div class="dcard2"><span class="tag" >1/8</span>
				<div class="fpart2"><img src="/images/image math gate.png">
					<iframe src="https://www.youtube.com/embed/ypaYWKfzuwE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >2/8</span>
				<div class="fpart2"><img src="/images/image math gate.png">
					<iframe src="https://www.youtube.com/embed/ypaYWKfzuwE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >3/8</span>
				<div class="fpart2"><img src="/images/image math gate.png">
					<iframe src="https://www.youtube.com/embed/YbUTm8wADK8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >4/8</span>
				<div class="fpart2"><img src="/images/image math gate.png">
					<iframe src="https://www.youtube.com/embed/wdnfsng-8wc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		
			<div class="dcard2"><span class="tag" >5/8</span>
				<div class="fpart2"><img src="/images/image math gate.png">
					<iframe src="https://www.youtube.com/embed/lgStFbrzoQs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >6/8</span>
				<div class="fpart2"><img src="/images/image math gate.png">
					<iframe src="https://www.youtube.com/embed/jY1KGiLyNY8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >7/8</span>
				<div class="fpart2"><img src="/images/image math gate.png">
					<iframe src="https://www.youtube.com/embed/No3nr3xEKmA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >8/8</span>
				<div class="fpart2"><img src="/images/image math gate.png">
					<iframe src="https://www.youtube.com/embed/HxCMdQpYwR4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</center>
<br><br>
	<div class="click-me">
		<a href="https://youtube.com/playlist?list=PLgzsL8klq6DJfK1Hsi7qCHnjugXlBl3qm&feature=shared" target="_blank">Click Here to Watch full playlist</a>
	</div>



<!-- Videos on DIGITAL LOGIC Lectures -->

	<div class="title2" id="digital">
		<span>Digital Logic</span>
		<div class="shortdesc2">
			<p>Learn deeply about Digital Logic Circuits...</p>
		</div>
	</div>
	<center>
		<div class="ccardbox2">
			<div class="dcard2"><span class="tag" >1/8</span>
				<div class="fpart2"><img src="/images/image digital logic.png">
					<iframe src="https://www.youtube.com/embed/-M7oIM8hKSU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >2/8</span>
				<div class="fpart2"><img src="/images/image digital logic.png">
					<iframe src="https://www.youtube.com/embed/-M7oIM8hKSU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >3/8</span>
				<div class="fpart2"><img src="/images/image digital logic.png">
					<iframe src="https://www.youtube.com/embed/-M7oIM8hKSU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >4/8</span>
				<div class="fpart2"><img src="/images/image digital logic.png">
					<iframe src="https://www.youtube.com/embed/-M7oIM8hKSU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		
			<div class="dcard2"><span class="tag" >5/8</span>
				<div class="fpart2"><img src="/images/image digital logic.png">
					<iframe src="https://www.youtube.com/embed/-IjqQeu8rOzM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >6/8</span>
				<div class="fpart2"><img src="/images/image digital logic.png">
					<iframe src="https://www.youtube.com/embed/-IjqQeu8rOzM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >7/8</span>
				<div class="fpart2"><img src="/images/image digital logic.png">
					<iframe src="https://www.youtube.com/embed/-IjqQeu8rOzM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >8/8</span>
				<div class="fpart2"><img src="/images/image digital logic.png">
					<iframe src="https://www.youtube.com/embed/-IjqQeu8rOzM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</center>
<br><br>
	<div class="click-me">
		<a href="https://youtu.be/-M7oIM8hKSU" target="_blank">Click Here to Watch full playlist</a>
	</div>



<!-- Videos on COMPUTER ORGANIZATION and ARCHITECTURE Lectures -->

	<div class="title2" id="coaa">
		<span>Computer Organization and Architecture</span>
		<div class="shortdesc2">
			<p>Build your concepts strong easily with our great tutors...</p>
		</div>
	</div>
	<center>
		<div class="ccardbox2">
			<div class="dcard2"><span class="tag" >1/8</span>
				<div class="fpart2"><img src="/images/image computer organisation.png">
					<iframe src="https://www.youtube.com/embed/q6oiRtKTpX4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >2/8</span>
				<div class="fpart2"><img src="/images/image computer organisation.png">
					<iframe src="https://www.youtube.com/embed/q6oiRtKTpX4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >3/8</span>
				<div class="fpart2"><img src="/images/image computer organisation.png">
					<iframe src="https://www.youtube.com/embed/q6oiRtKTpX4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >4/8</span>
				<div class="fpart2"><img src="/images/image computer organisation.png">
					<iframe src="https://www.youtube.com/embed/q6oiRtKTpX4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		
			<div class="dcard2"><span class="tag" >5/8</span>
				<div class="fpart2"><img src="/images/image computer organisation.png">
					<iframe src="https://www.youtube.com/embed/0M74z5jEAyA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >6/8</span>
				<div class="fpart2"><img src="/images/image computer organisation.png">
					<iframe src="https://www.youtube.com/embed/0M74z5jEAyA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >7/8</span>
				<div class="fpart2"><img src="/images/image computer organisation.png">
					<iframe src="https://www.youtube.com/embed/0M74z5jEAyA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >8/8</span>
				<div class="fpart2"><img src="/images/image computer organisation.png">
					<iframe src="https://www.youtube.com/embed/0M74z5jEAyA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</center>
<br><br>
	<div class="click-me">
		<a href="https://youtu.be/q6oiRtKTpX4" target="_blank">Click Here to Watch full playlist</a>
	</div>



<!-- Videos on COMPILER Lectures -->

	<div class="title2" id="compiler">
		<span>Compiler Design</span>
		<div class="shortdesc2">
			<p>Build your concepts strong easily with our great tutors...</p>
		</div>
	</div>
	<center>
		<div class="ccardbox2">
			<div class="dcard2"><span class="tag" >1/8</span>
				<div class="fpart2"><img src="/images/image compiler desgin.png">
					<iframe src="https://www.youtube.com/embed/5ZmFlxrNaN8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >2/8</span>
				<div class="fpart2"><img src="/images/image compiler desgin.png">
					<iframe src="https://www.youtube.com/embed/5ZmFlxrNaN8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >3/8</span>
				<div class="fpart2"><img src="/images/image compiler desgin.png">
					<iframe src="https://www.youtube.com/embed/5ZmFlxrNaN8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >4/8</span>
				<div class="fpart2"><img src="/images/image compiler desgin.png">
					<iframe src="https://www.youtube.com/embed/5ZmFlxrNaN8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		
			<div class="dcard2"><span class="tag" >5/8</span>
				<div class="fpart2"><img src="/images/image compiler desgin.png">
					<iframe src="https://www.youtube.com/embed/U-rg4nHeYiw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >6/8</span>
				<div class="fpart2"><img src="/images/image compiler desgin.png">
					<iframe src="https://www.youtube.com/embed/U-rg4nHeYiw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >7/8</span>
				<div class="fpart2"><img src="/images/image compiler desgin.png">
					<iframe src="https://www.youtube.com/embed/U-rg4nHeYiw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >8/8</span>
				<div class="fpart2"><img src="/images/image compiler desgin.png">
					<iframe src="https://www.youtube.com/embed/U-rg4nHeYiw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</center>
<br><br>
	<div class="click-me">
		<a href="https://youtube.com/playlist?list=PLBlnK6fEyqRjT3oJxFXRgjPNzeS-LFY-q&feature=shared" target="_blank">Click Here to Watch full playlist</a>
	</div>



<!-- Videos on OPERATING SYSTEM Lectures -->


<div class="title2" id="os">
		<span>Operating System</span>
		<div class="shortdesc2">
			<p>Build your concepts strong easily with our great tutors...</p>
		</div>
	</div>
	<center>
		<div class="ccardbox2">
			<div class="dcard2"><span class="tag" >1/8</span>
				<div class="fpart2"><img src="/images/image operating system.png">
					<iframe src="https://www.youtube.com/embed/vBURTt97EkA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >2/8</span>
				<div class="fpart2"><img src="/images/image operating system.png">
					<iframe src="https://www.youtube.com/embed/vBURTt97EkA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >3/8</span>
				<div class="fpart2"><img src="/images/image operating system.png">
					<iframe src="https://www.youtube.com/embed/vBURTt97EkA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >4/8</span>
				<div class="fpart2"><img src="/images/image operating system.png">
					<iframe src="https://www.youtube.com/embed/vBURTt97EkA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		
			<div class="dcard2"><span class="tag" >5/8</span>
				<div class="fpart2"><img src="/images/image operating system.png">
					<iframe src="https://www.youtube.com/embed/pVzb3TUcDLo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >6/8</span>
				<div class="fpart2"><img src="/images/image operating system.png">
					<iframe src="https://www.youtube.com/embed/pVzb3TUcDLo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >7/8</span>
				<div class="fpart2"><img src="/images/image operating system.png">
					<iframe src="https://www.youtube.com/embed/pVzb3TUcDLo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >8/8</span>
				<div class="fpart2"><img src="/images/image operating system.png">
					<iframe src="https://www.youtube.com/embed/pVzb3TUcDLo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</center>

<br><br>
	<div class="click-me">
		<a href="https://youtu.be/vBURTt97EkA" target="_blank">Click Here to Watch full playlist</a>
	</div>


<!-- Videos on DATABASE Lectures -->

<div class="title2" id="database">
		<span>Databases</span>
		<div class="shortdesc2">
			<p>Build your concepts strong easily with our great tutors...</p>
		</div>
	</div>
	<center>
		<div class="ccardbox2">
			<div class="dcard2"><span class="tag" >1/8</span>
				<div class="fpart2"><img src="/images/image database.png">
					<iframe src="https://www.youtube.com/embed/8dYCZFTtYjY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >2/8</span>
				<div class="fpart2"><img src="/images/image database.png">
					<iframe src="https://www.youtube.com/embed/8dYCZFTtYjY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >3/8</span>
				<div class="fpart2"><img src="/images/image database.png">
					<iframe src="https://www.youtube.com/embed/8dYCZFTtYjY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >4/8</span>
				<div class="fpart2"><img src="/images/image database.png">
					<iframe src="https://www.youtube.com/embed/8dYCZFTtYjY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		
			<div class="dcard2"><span class="tag" >5/8</span>
				<div class="fpart2"><img src="/images/image database.png">
					<iframe src="https://www.youtube.com/embed/23YxoY3erH0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >6/8</span>
				<div class="fpart2"><img src="/images/image database.png">
					<iframe src="https://www.youtube.com/embed/23YxoY3erH0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >7/8</span>
				<div class="fpart2"><img src="/images/image database.png">
					<iframe src="https://www.youtube.com/embed/23YxoY3erH0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >8/8</span>
				<div class="fpart2"><img src="/images/image database.png">
					<iframe src="https://www.youtube.com/embed/23YxoY3erH0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</center>
<br><br>
	<div class="click-me">
		<a href="https://youtube.com/playlist?list=PLWPirh4EWFpGrpcMfZ6UcdI786QdtSxV8&feature=shared" target="_blank">Click Here to Watch full playlist</a>
	</div>



<!-- Videos on COMPUTER NETWORKS Lectures -->

<div class="title2" id="cn">
		<span>Computer Networks</span>
		<div class="shortdesc2">
			<p>Build your concepts strong easily with our great tutors...</p>
		</div>
	</div>
	<center>
		<div class="ccardbox2">
			<div class="dcard2"><span class="tag" >1/8</span>
				<div class="fpart2"><img src="/images/image computer networking.png">
					<iframe src="https://www.youtube.com/embed/qiQR5rTSshw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >2/8</span>
				<div class="fpart2"><img src="/images/image computer networking.png">
					<iframe src="https://www.youtube.com/embed/qiQR5rTSshw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >3/8</span>
				<div class="fpart2"><img src="/images/image computer networking.png">
					<iframe src="https://www.youtube.com/embed/qiQR5rTSshw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >4/8</span>
				<div class="fpart2"><img src="/images/image computer networking.png">
					<iframe src="https://www.youtube.com/embed/qiQR5rTSshw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		
			<div class="dcard2"><span class="tag" >5/8</span>
				<div class="fpart2"><img src="/images/image computer networking.png">
					<iframe src="https://www.youtube.com/embed/tN6oJu2DqCM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >6/8</span>
				<div class="fpart2"><img src="/images/image computer networking.png">
					<iframe src="https://www.youtube.com/embed/tN6oJu2DqCM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >7/8</span>
				<div class="fpart2"><img src="/images/image computer networking.png">
					<iframe src="https://www.youtube.com/embed/tN6oJu2DqCM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >8/8</span>
				<div class="fpart2"><img src="/images/image computer networking.png">
					<iframe src="https://www.youtube.com/embed/tN6oJu2DqCM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</center>

<br><br>
	<div class="click-me">
		<a href="https://youtu.be/qiQR5rTSshw" target="_blank">Click Here to Watch full playlist</a>
	</div>

	

<!-- Links for SAMPLE PAPERS of JEE MAINS & ADVANCED -->

	<div class="title2" id="sample_papers">
		<span>Some Sample Papers </span>
		<div class="shortdesc2">
			<p>Practice more and more question papers</p>
		</div>
	</div>

	<div class="sample">
		<ul>
			<li><a href="/samplePapers/p3.pdf" target="_blank">Sample Paper 2014 Set-A</a></li>
			<li><a href="/samplePapers/p3.pdf" target="_blank">Sample Paper 2014 Set-B</a></li>
			<li><a href="/samplePapers/p3.pdf" target="_blank">Sample Paper 2014 Set-C</a></li>
		</ul>
		<ul>
			<li><a href="/samplePapers/p3.pdf" target="_blank">Sample Paper 2015 Set-A</a></li>
			<li><a href="/samplePapers/p3.pdf" target="_blank">Sample Paper 2015 Set-B</a></li>
			<li><a href="/samplePapers/p3.pdf" target="_blank">Sample Paper 2015 Set-C</a></li>
		</ul>
		<ul>
			<li><a href="/samplePapers/p3.pdf" target="_blank">Sample Paper 2016 Set-A</a></li>
			<li><a href="/samplePapers/p1.pdf" target="_blank">Sample Paper 2016 Set-B</a></li>
			<li><a href="/samplePapers/p1.pdf" target="_blank">Sample Paper 2016 Set-C</a></li>
		</ul>
	</div>
	<div class="sample lastSample">
		<ul>
			<li><a href="/samplePapers/p2.pdf" target="_blank">Sample Paper 2017 Set-A</a></li>
			<li><a href="/samplePapers/p2.pdf" target="_blank">Sample Paper 2017 Set-B</a></li>
			<li><a href="/samplePapers/p2.pdf" target="_blank">Sample Paper 2017 Set-C</a></li>
		</ul>
		<ul>
			<li><a href="/samplePapers/p2.pdf" target="_blank">Sample Paper 2018 Set-A</a></li>
			<li><a href="/samplePapers/p2.pdf" target="_blank">Sample Paper 2018 Set-B</a></li>
			<li><a href="/samplePapers/p2.pdf" target="_blank">Sample Paper 2018 Set-C</a></li>
		</ul>
		<ul>
			<li><a href="/samplePapers/p2.pdf" target="_blank">Sample Paper 2019 Set-A</a></li>
			<li><a href="/samplePapers/p2.pdf" target="_blank">Sample Paper 2019 Set-B</a></li>
			<li><a href="/samplePapers/p2.pdf" target="_blank">Sample Paper 2019 Set-C</a></li>
		</ul>
	</div>

</body>
</html>