<!DOCTYPE html>
<html>
<head>
	<link rel="shortcut icon" type="png" href="/images/image ducation logo.png">
	<title>Prepare for JEE Mains & Advanced</title>
	<link rel="stylesheet" type="text/css" href="/css/subjects.css">
	<script type="text/javascript" src="/js/script.js"></script>
</head>
<body>

	<!-- NAVIGATION -->
	<header>
		<div class="nav" id="nav">
			<div id="learned-logo">
			<a href="/index"><img src="/images/image Education logo.png" style="width: 120px;"></a></div>
			<div class="switch-tab" id="switch-tab" onclick="switchTAB()"><img src="/images/image menu logo.png"></div>
			<ul id="list-switch">
				<li><a href="/jee"><img src="/images/image book logo.png" class="icon">JEE</a></li>
				<li><a href="/gate"><img src="/images/image GATE logo.png" class="icon">GATE</a></li>
				<li><a href="/computer_courses"><img src="/images/image computer logo.png" class="icon">Computer Courses</a></li>
				<li><a href="/computer_courses#data"><img src="/images/image data structure logo.png" class="icon">Data Structures</a></li>
				<li><a href="/computer_courses#algo"><img src="/images/image algorithm logo.png" class="icon">Algorithm</a></li>
				<li><a href="/history"><img src="/images/image project logo.png" class="icon">Indian History</a></li>
			</ul>
			<div class="search" id="search-switch">
				<input type="search" placeholder="Search" class="srch"><button id="srchbtn"><img src="/images/image search.png"></button>
			</div>
		</div>
	</header>

	<div class="title">
		<span>Learn Indian History with Us<br>on Growth Guide</span>
		<div class="shortdesc">
			<p>Learn your basic concepts to prepare for a career in<br>History and Archaeological field</p>
		</div>
	</div>

<!-- Quick Links -->
	<div class="course">
		<div class="cbox">
		<div class="det"><a href="https://en.wikipedia.org/wiki/Vedic_period" target="_blank">Vedic Period</a></div>
		<div class="det"><a href="https://en.wikipedia.org/wiki/Mahajanapadas" target="_blank">Mahajanapadas</a></div>
		<div class="det"><a href="https://en.wikipedia.org/wiki/Maurya_Empire" target="_blank">Maurya Empire</a></div>
		<div class="det"><a href="https://en.wikipedia.org/wiki/Ayurveda" target="_blank">Ayurveda</a></div>
		<div class="det"><a href="https://en.wikipedia.org/wiki/Vijayanagara_Empire" target="_blank">Vijayanagar Empire</a></div>
		<div class="det"><a href="https://en.wikipedia.org/wiki/Bh%C4%81skara_II" target="_blank">Bhaskaracharya</a></div>
		<div class="det"><a href="hhttps://en.wikipedia.org/wiki/Buddhism" target="_blank">Buddhism</a></div>
		<div class="det"><a href="https://en.wikipedia.org/wiki/Sanskrit" target="_blank">Sanskrit</a></div>
		</div>
		<div class="cbox">
		<div class="det"><a href="https://en.wikipedia.org/wiki/Taxila">Takshila University</a></div>
		<div class="det"><a href="https://en.wikipedia.org/wiki/Kanishka" target="_blank">Kanishka The Great</a></div>
		<div class="det"><a href="https://en.wikipedia.org/wiki/Sushruta" target="_blank">Sushruta</a></div>
		<div class="det"><a href="https://en.wikipedia.org/wiki/Jallianwala_Bagh_massacre">Jallianwala Bagh Massacre</a></div>
		<div class="det"><a href="https://en.wikipedia.org/wiki/Subhas_Chandra_Bose">Subhas Chandra Bose</a></div>
		<div class="det"><a href="https://en.wikipedia.org/wiki/Madhava_of_Sangamagrama" target="_blank">Madhava of Sangamagrama</a></div>
		<div class="det"><a href="https://en.wikipedia.org/wiki/Kargil_War" target="_blank">Kargil War</a></div>
		</div>
		<div class="cbox">
		<div class="det"><a href="https://en.wikipedia.org/wiki/Indian_Rebellion_of_1857">First War of Indian Independence</a></div>
		<div class="det"><a href="https://en.wikipedia.org/wiki/Partition_of_India">Partition of India</a></div>
		<div class="det"><a href="https://en.wikipedia.org/wiki/Vedas">Vedas</a></div>
		<div class="det"><a href="https://en.wikipedia.org/wiki/Green_Revolution">Green Revolution</a></div>
		<div class="det"><a href="https://en.wikipedia.org/wiki/History_of_South_India">History of South India</a></div>
		<div class="det"><a href="https://en.wikipedia.org/wiki/Advaita_Vedanta">Advaita Vedanta</a></div>
		<div class="det"><a href="https://en.wikipedia.org/wiki/Ellora_Caves">Ellora Caves</a></div>
		<div class="det"><a href="https://en.wikipedia.org/wiki/East_India_Company">East India Company</a></div>
		</div>
	</div>

	<div class="inbt">
		Accelerate your career with Growth Guide
	</div>


<!-- COURSES AVAILABLE -->
	<div class="ccard" id="sub">
	<center>
		<div class="ccardbox">
			<div class="dcard">
				<div class="fpart"><img src="/images/Image ancient india.png"></div>
				<a href="#organic"><div class="spart">2 Courses <img src="/images/image dropdown.png"></div></a>
			</div>
			<div class="dcard">
				<div class="fpart"><img src="/images/image Medival India.png"></div>
				<a href="#inorganic"><div class="spart">5 Courses <img src="/images/image dropdown.png"></div></a>
			</div>
			<div class="dcard">
				<div class="fpart"><img src="/images/image Colonial India.png"></div>
				<a href="#physical"><div class="spart">3 Courses <img src="/images/image dropdown.png"></div></a>
			</div>
		</div>
		<div class="ccardbox">
			<div class="dcard">
				<div class="fpart"><img src="/images/image modern India.png"></div>
				<a href="#physics"><div class="spart">6 Courses <img src="/images/image dropdown.png"></div></a>
			</div>
			<div class="dcard">
				<div class="fpart"><img src="/images/image Post Independence.png"></div>
				<a href="#math"><div class="spart">2 Courses <img src="/images/image dropdown.png"></div></a>
			</div>
			<div class="dcard">
				<div class="fpart"><img src="/images/image India art and cultural.png"></div>
				<a href="#sample_papers"><div class="spart">1 Courses <img src="/images/image dropdown.png"></div></a>
			</div>
		</div>
	</center>
	</div>

<!-- VIDEOS SECTION -->
	<div class="title2" id="organic">
		<span>Ancient India</span>
		<div class="shortdesc2">
			<p>Make strong concepts in Ancient India with great tutors...</p>
		</div>
	</div>
	
	<center>
		<div class="ccardbox2">
			<div class="dcard2"><span class="tag" >1/8</span>
				<div class="fpart2"><img src="/images/Image ancient india.png">
					<iframe src="https://www.youtube.com/embed/TR73VIu1YdQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >2/8</span>
				<div class="fpart2"><img src="/images/Image ancient india.png">
					<iframe src="https://www.youtube.com/embed/aju1ciGeDrc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >3/8</span>
				<div class="fpart2"><img src="/images/Image ancient india.png">
					<iframe src="https://www.youtube.com/embed/Zz9sPrvfXzY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >4/8</span>
				<div class="fpart2"><img src="/images/Image ancient india.png">
					<iframe src="https://www.youtube.com/embed/L7XwexafB5Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		
			<div class="dcard2"><span class="tag" >5/8</span>
				<div class="fpart2"><img src="/images/Image ancient india.png">
					<iframe src="https://www.youtube.com/embed/k2F9lHYqWrI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >6/8</span>
				<div class="fpart2"><img src="/images/Image ancient india.png">
					<iframe src="https://www.youtube.com/embed/btfguAIiyGg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >7/8</span>
				<div class="fpart2"><img src="/images/Image ancient india.png">
					<iframe src="https://www.youtube.com/embed/7PT7akySEvY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >8/8</span>
				<div class="fpart2"><img src="/images/Image ancient india.png">
					<iframe src="https://www.youtube.com/embed/RQ-pGCJ3sek" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</center>

<br><br>
	<div class="click-me">
		<a href="https://youtube.com/playlist?list=PLpuxPG4TUOR64XDYTufIgk0IhSiafaIWG&feature=shared" target="_blank">Click Here to Watch full playlist</a>
	</div>

<!-- VIDEOS SECTION -->

	<div class="title2" id="inorganic">
		<span>Medieval India</span>
		<div class="shortdesc2">
			<p>Make your strong concepts in Medieval India...</p>
		</div>
	</div>
	<center>
		<div class="ccardbox2">
			<div class="dcard2"><span class="tag" >1/8</span>
				<div class="fpart2"><img src="/images/image Medival India.png">
					<iframe src="https://www.youtube.com/embed//J8V3q9vvBUw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >2/8</span>
				<div class="fpart2"><img src="/images/image Medival India.png">
					<iframe src="https://www.youtube.com/embed/SLT7tzbpmsc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >3/8</span>
				<div class="fpart2"><img src="/images/image Medival India.png">
					<iframe src="https://www.youtube.com/embed/Ry9trAKckNY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >4/8</span>
				<div class="fpart2"><img src="/images/image Medival India.png">
					<iframe src="https://www.youtube.com/embed/_coauwEFJ2c" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		
			<div class="dcard2"><span class="tag" >5/8</span>
				<div class="fpart2"><img src="/images/image Medival India.png">
					<iframe src="https://www.youtube.com/embed//TFMq63dnHP8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >6/8</span>
				<div class="fpart2"><img src="/images/image Medival India.png">
					<iframe src="https://www.youtube.com/embed/2rdHROeM948" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >7/8</span>
				<div class="fpart2"><img src="/images/image Medival India.png">
					<iframe src="https://www.youtube.com/embed//YjKPBH2iJ3U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >8/8</span>
				<div class="fpart2"><img src="/images/image Medival India.png">
					<iframe src="https://www.youtube.com/embed/HQVsmazVJg8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</center>
<br><br>
	<div class="click-me">
		<a href="https://youtube.com/playlist?list=PLmjlFv2tz6m_XfhDEolrcX4ZB6nu_Umri&feature=shared" target="_blank">Click Here to Watch full playlist</a>
	</div>

<!-- VIDEOS SECTION -->

	<div class="title2" id="physical">
		<span>Colonial India</span>
		<div class="shortdesc2">
			<p>Make your strong concepts in Colonial India...</p>
		</div>
	</div>
	<center>
		<div class="ccardbox2">
			<div class="dcard2"><span class="tag" >1/8</span>
				<div class="fpart2"><img src="/images/image Colonial India.png">
					<iframe src="https://www.youtube.com/embed/gIzQxNZfGM4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >2/8</span>
				<div class="fpart2"><img src="/images/image Colonial India.png">
					<iframe src="https://www.youtube.com/embed/3-UwU0h9wOc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >3/8</span>
				<div class="fpart2"><img src="/images/image Colonial India.png">
					<iframe src="https://www.youtube.com/embed/U1etwh6MFAI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >4/8</span>
				<div class="fpart2"><img src="/images/image Colonial India.png">
					<iframe src="https://www.youtube.com/embed/FPOhnijCeVs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		
			<div class="dcard2"><span class="tag" >5/8</span>
				<div class="fpart2"><img src="/images/image Colonial India.png">
					<iframe src="https://www.youtube.com/embed/REdKrZw6Eo0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >6/8</span>
				<div class="fpart2"><img src="/images/image Colonial India.png">
					<iframe src="https://www.youtube.com/embed/JAkg23U9saY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >7/8</span>
				<div class="fpart2"><img src="/images/image Colonial India.png">
					<iframe src="https://www.youtube.com/embed/HW26yj5joTs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >8/8</span>
				<div class="fpart2"><img src="/images/image Colonial India.png">
					<iframe src="https://www.youtube.com/embed/GmHW1AaVfgQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</center>
<br><br>
	<div class="click-me">
		<a href="https://youtube.com/playlist?list=PLy3KRgc0HE8C1aMDhtEX5np43SxhcjOTC&feature=shared" target="_blank">Click Here to Watch full playlist</a>
	</div>


<!-- VIDEOS SECTION -->

	<div class="title2" id="physics">
		<span>Modern India</span>
		<div class="shortdesc2">
			<p>Do you think learning Modern India is hard? It's not join this lectures...</p>
		</div>
	</div>
	<center>
		<div class="ccardbox2">
			<div class="dcard2"><span class="tag" >1/8</span>
				<div class="fpart2"><img src="/images/image modern India.png">
					<iframe src="https://www.youtube.com/embed/ZBVBtkpmfsg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >2/8</span>
				<div class="fpart2"><img src="/images/image modern India.png">
					<iframe src="https://www.youtube.com/embed/PtCi8OmNHGs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >3/8</span>
				<div class="fpart2"><img src="/images/image modern India.png">
					<iframe src="https://www.youtube.com/embed/9lBYbf18IiI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >4/8</span>
				<div class="fpart2"><img src="/images/image modern India.png">
					<iframe src="https://www.youtube.com/embed/Gd9qUYxOTdw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		
			<div class="dcard2"><span class="tag" >5/8</span>
				<div class="fpart2"><img src="/images/image modern India.png">
					<iframe src="https://www.youtube.com/embed/0KVBTUh5FNo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >6/8</span>
				<div class="fpart2"><img src="/images/image modern India.png">
					<iframe src="https://www.youtube.com/embed/uUMuBwhH-Ro" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >7/8</span>
				<div class="fpart2"><img src="/images/image modern India.png">
					<iframe src="https://www.youtube.com/embed/J3D76TePFvA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >8/8</span>
				<div class="fpart2"><img src="/images/image modern India.png">
					<iframe src="https://www.youtube.com/embed/kTP5igiasFc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</center>
<br><br>
	<div class="click-me">
		<a href="https://youtube.com/playlist?list=PLXLsXwBXH6BnNyxk8aLyei4NB8VtpjjXM&feature=shared" target="_blank">Click Here to Watch full playlist</a>
	</div>

<!-- VIDEOS SECTION -->

	<div class="title2" id="math">
		<span>Post-Independence India</span>
		<div class="shortdesc2">
			<p>Make learning interesting with our great tutors...</p>
		</div>
	</div>
	<center>
		<div class="ccardbox2">
			<div class="dcard2"><span class="tag" >1/8</span>
				<div class="fpart2"><img src="/images/image Post Independence.png">
					<iframe src="https://www.youtube.com/embed/p5C64JMKkcw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >2/8</span>
				<div class="fpart2"><img src="/images/image Post Independence.png">
					<iframe src="https://www.youtube.com/embed/qTNW71rQ4go" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >3/8</span>
				<div class="fpart2"><img src="/images/image Post Independence.png">
					<iframe src="https://www.youtube.com/embed/uz2xLEE4mkk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >4/8</span>
				<div class="fpart2"><img src="/images/image Post Independence.png">
					<iframe src="https://www.youtube.com/embed/CSwq1jctTYk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		
			<div class="dcard2"><span class="tag" >5/8</span>
				<div class="fpart2"><img src="/images/image Post Independence.png">
					<iframe src="https://www.youtube.com/embed/4gZiO9NjSmE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >6/8</span>
				<div class="fpart2"><img src="/images/image Post Independence.png">
					<iframe src="https://www.youtube.com/embed/U9aWtNzatNQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >7/8</span>
				<div class="fpart2"><img src="/images/image Post Independence.png">
					<iframe src="https://www.youtube.com/embed/6g6xGhoDs_w" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >8/8</span>
				<div class="fpart2"><img src="/images/image Post Independence.png">
					<iframe src="https://www.youtube.com/embed/WueuoxlLcuw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</center>

<br><br>
	<div class="click-me">
		<a href="https://youtube.com/playlist?list=PLnLX-7XPESaJRJ5WorvXZvZGp3vrBOIwk&feature=shared" target="_blank">Click Here to Watch full playlist</a>
	</div>


<!-- Video Section -->
	<div class="title2" id="sample_papers">
		<span>Cultural and Social History </span>
		<div class="shortdesc2">
			<p>Know more and more about India</p>
		</div>
	</div>

	<center>
		<div class="ccardbox2">
			<div class="dcard2"><span class="tag" >1/8</span>
				<div class="fpart2"><img src="/images/image India art and cultural.png">
					<iframe src="https://www.youtube.com/embed/I_DsrpVH-ps" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >2/8</span>
				<div class="fpart2"><img src="/images/image India art and cultural.png">
					<iframe src="https://www.youtube.com/embed/_rkuzbWVwTU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >3/8</span>
				<div class="fpart2"><img src="/images/image India art and cultural.png">
					<iframe src="https://www.youtube.com/embed/t5ezuyEjE5k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >4/8</span>
				<div class="fpart2"><img src="/images/image India art and cultural.png">
					<iframe src="https://www.youtube.com/embed/xICPnT4pzxs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		
			<div class="dcard2"><span class="tag" >5/8</span>
				<div class="fpart2"><img src="/images/image India art and cultural.png">
					<iframe src="https://www.youtube.com/embed/K1xwptyL2wI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >6/8</span>
				<div class="fpart2"><img src="/images/image India art and cultural.png">
					<iframe src="https://www.youtube.com/embed/V-2BwMPuhAs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >7/8</span>
				<div class="fpart2"><img src="/images/image India art and cultural.png">
					<iframe src="https://www.youtube.com/embed/AVLLl2UJMXM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="dcard2"><span class="tag" >8/8</span>
				<div class="fpart2"><img src="/images/image India art and cultural.png">
					<iframe src="https://www.youtube.com/embed/gNJNmPJqXJc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</center>

<br><br>
	<div class="click-me">
		<a href="https://youtube.com/playlist?list=PLFJ9EmWRVSwNs_FJ5wU6d9ptkE4JY56j0&feature=shared" target="_blank">Click Here to Watch full playlist</a>
	</div>
	</div>
<!-- FOOTER -->
	<footer>
		<div class="footer-container">
			<div class="left-col">
				<img src="/images/image Education logo.png" style="width: 200px;">
				<div class="logo"></div>
				<div class="social-media">
					<a href="#"><img src="/images/facebook.png"></a>
					<a href="#"><img src="/images/instagram.png"></a>
					<a href="https://twitter.com"><img src="/images/twitter.png"></a>
					<a href="https://www.youtube.com"><img src="/images/youtube.png"></a>
					<a href="https://www.linkedin.com"><img src="/images/linkedin.png"></a>
				</div><br><br>
				<p class="rights-text">Copyright © 2024 Created By Abhay, Ashu, Sukhpreet All Rights Reserved.</p>
				<br><p><img src="/images/location.png"> Chitkara University<br>Rajpura, Punjab-140401.</p><br>
				<p><img src="/images/phone.png"> +91-1234-567-890<br><img src="/images/mail.png">&nbsp; Linkden.123@.com</p>
			</div>
			<div class="right-col">
				<h1 style="color: #fff">Our Newsletter</h1>
				<div class="border"></div><br>
				<p>Enter Your Email to get our News and updates.</p>
				<form class="newsletter-form">
					<input class="txtb" type="email" placeholder="Enter Your Email">
					<input class="btn" type="submit" value="Submit">
				</form>
			</div>
		</div>
	</footer>

</body>
</html>
